<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginSvl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSvl</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.LoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDeptSvl</display-name>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.FindAllDeptSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <url-pattern>/FindAllDeptSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllJobSvl</display-name>
    <servlet-name>FindAllJobSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.FindAllJobSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllJobSvl</servlet-name>
    <url-pattern>/FindAllJobSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllEmpSvl</display-name>
    <servlet-name>FindAllEmpSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.FindAllEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllEmpSvl</servlet-name>
    <url-pattern>/FindAllEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDepSvl</display-name>
    <servlet-name>DelDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.DelDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDepSvl</servlet-name>
    <url-pattern>/DelDepSvl</url-pattern>
  </servlet-mapping>
</web-app>