<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginSvl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSvl</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.LoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDeptSvl</display-name>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.FindAllDeptSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <url-pattern>/FindAllDeptSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDepSvl</display-name>
    <servlet-name>DelDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.DelDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDepSvl</servlet-name>
    <url-pattern>/DelDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aaa</display-name>
    <servlet-name>aaa</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.aaa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDepNameSvl</display-name>
    <servlet-name>CheckDepNameSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.CheckDepNameSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDepNameSvl</servlet-name>
    <url-pattern>/CheckDepNameSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepSvl</display-name>
    <servlet-name>AddDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.AddDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepSvl</servlet-name>
    <url-pattern>/AddDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDepSvl</display-name>
    <servlet-name>UpdateDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.UpdateDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDepSvl</servlet-name>
    <url-pattern>/UpdateDepSvl</url-pattern>
  </servlet-mapping>
</web-app>