<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginSvl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSvl</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.global.LoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDeptSvl</display-name>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.dep.FindAllDeptSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <url-pattern>/FindAllDeptSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDepSvl</display-name>
    <servlet-name>DelDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.dep.DelDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDepSvl</servlet-name>
    <url-pattern>/DelDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDepNameSvl</display-name>
    <servlet-name>CheckDepNameSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.dep.CheckDepNameSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDepNameSvl</servlet-name>
    <url-pattern>/CheckDepNameSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepSvl</display-name>
    <servlet-name>AddDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.dep.AddDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepSvl</servlet-name>
    <url-pattern>/AddDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDepSvl</display-name>
    <servlet-name>UpdateDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.dep.UpdateDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDepSvl</servlet-name>
    <url-pattern>/UpdateDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllEmpSvl</display-name>
    <servlet-name>FindAllEmpSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.emp.FindAllEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllEmpSvl</servlet-name>
    <url-pattern>/FindAllEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllJobSvl</display-name>
    <servlet-name>FindAllJobSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.job.FindAllJobSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllJobSvl</servlet-name>
    <url-pattern>/FindAllJobSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmpSvl</display-name>
    <servlet-name>SearchEmpSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.emp.SearchEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmpSvl</servlet-name>
    <url-pattern>/SearchEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelEmpSvl</display-name>
    <servlet-name>DelEmpSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.emp.DelEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelEmpSvl</servlet-name>
    <url-pattern>/DelEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindEmpDetailSvl</display-name>
    <servlet-name>FindEmpDetailSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.emp.FindEmpDetailSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEmpDetailSvl</servlet-name>
    <url-pattern>/FindEmpDetailSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpSvl</display-name>
    <servlet-name>UpdateEmpSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.emp.UpdateEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpSvl</servlet-name>
    <url-pattern>/UpdateEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDocSvl</display-name>
    <servlet-name>AddDocSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.doc.AddDocSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocSvl</servlet-name>
    <url-pattern>/AddDocSvl</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.icss.employeemanager.utils.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutSvl</display-name>
    <servlet-name>LoginOutSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.global.LoginOutSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutSvl</servlet-name>
    <url-pattern>/LoginOutSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaceRegisterSvl</display-name>
    <servlet-name>FaceRegisterSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.global.FaceRegisterSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceRegisterSvl</servlet-name>
    <url-pattern>/FaceRegisterSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaceLoginSvl</display-name>
    <servlet-name>FaceLoginSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.global.FaceLoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceLoginSvl</servlet-name>
    <url-pattern>/FaceLoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkPswd</display-name>
    <servlet-name>checkPswd</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.global.checkPswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkPswd</servlet-name>
    <url-pattern>/checkPswd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPswdSvl</display-name>
    <servlet-name>EditPswdSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.global.EditPswdSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPswdSvl</servlet-name>
    <url-pattern>/EditPswdSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDepSvl</display-name>
    <servlet-name>SearchDepSvl</servlet-name>
    <servlet-class>com.icss.employeemanager.controller.dep.SearchDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDepSvl</servlet-name>
    <url-pattern>/SearchDepSvl</url-pattern>
  </servlet-mapping>
</web-app>